/* 100vh fix */
@media (pointer: coarse) {
  /* body {
    overflow: unset;
  } */
  .scroll-container,
  .canvas-container,
  .section-animation {
    height: 100lvh;
  }
  .scroll-container.section-1,
  .scroll-container.section-1 .canvas-container,
  .scene {
    height: 100svh;
  }
  .scene {
    margin-top: -100svh;
  }
  .section-2,
  .section-3 {
    height: auto;
    overflow: unset;
  }
  .section-darken {
    bottom: 0;
    height: auto;
    margin-top: 0;
    position: absolute;
  }
  .section-2 .long-scroll-container {
    min-height: 0;
  }
  .section-2 .text-blocks-container {
    margin-top: -100lvh;
    padding-bottom: calc(38px + 100svh); /* CEH9 */
  }
  .section-3 .canvas-sticky-container {
    height: auto;
  }
  .section-3 .canvas-container {
    position: relative;
  }
  .section-3 .background-texts {
    height: 100svh;
    position: relative;
    top: auto;
  }
  .section-3 .gamedev {
    transform: translate3d(0, -250px, 0);
  }

  .scroll-container {
    position: fixed;
    top: -1000000px;
    opacity: 0;
    transition: opacity 1s ease;
    width: 100%;
  }
  .scroll-container.deviceVisible {
    position: relative;
    top: 0;
    opacity: 1;
  }
  video {
    pointer-events: none !important;
  }
  .section-animation {
    display: none;
  }
  .back-arrow {
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: 66px;
    width: 40px;
    z-index: 1;
  }
  .back-arrow > svg {
    display: block;
    width: 100%;
  }
  .back-arrow > svg > polygon {
    fill: #f6cdff;
  }
}
@media (max-width: 767.98px) {
  /* body {
    overflow: unset;
  } */
  .scroll-container,
  .canvas-container,
  .section-animation {
    height: 100lvh;
  }
  .scroll-container.section-1,
  .scroll-container.section-1 .canvas-container,
  .scene {
    height: 100svh;
  }
  .scene {
    margin-top: -100svh;
  }
  .section-2,
  .section-3 {
    height: auto;
    overflow: unset;
  }
  .section-darken {
    bottom: 0;
    height: auto;
    margin-top: 0;
    position: absolute;
  }
  .section-2 .long-scroll-container {
    min-height: 0;
  }
  .section-2 .text-blocks-container {
    margin-top: -100lvh;
    padding-bottom: calc(38px + 100svh); /* CEH9 */
  }
  .section-3 .canvas-sticky-container {
    height: auto;
  }
  .section-3 .canvas-container {
    position: relative;
  }
  .section-3 .background-texts {
    height: auto;
    position: relative;
    top: auto;
  }
  .section-3 .gamedev {
    transform: translate3d(0, 0, 0);
  }
  .scroll-container {
    position: fixed;
    top: -1000000px;
    opacity: 0;
    transition: opacity 1s ease;
  }
  .scroll-container.deviceVisible {
    position: relative;
    top: 0;
    opacity: 1;
  }
  video {
    pointer-events: none !important;
  }
  .section-animation {
    display: none;
  }
  .back-arrow {
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: 30px;
    width: 40px;
    z-index: 1;
  }
  .back-arrow > svg {
    display: block;
    width: 100%;
  }
  .back-arrow > svg > polygon {
    fill: #f6cdff;
  }
  .lil-gui {
    opacity: 0.5;
  }
  .loading-label {
    top: 270px;
  }
}

/* Menu */
.hamburger {
  display: none;
}
.hamburger > img {
  display: block;
  opacity: 0.7;
  width: 100%;
}
.menu-close {
  display: none;
}

@media (max-width: 767.98px) {
  .hamburger {
    aspect-ratio: 72 / 62;
    display: block;
    position: fixed;
    right: 32px;
    top: 25px;
    width: 36px;
    z-index: 2;
  }
  .menu-close {
    aspect-ratio: 1;
    display: block;
    position: fixed;
    right: 36px;
    top: 28px;
    width: 30px;
    z-index: 3;
  }
  .menu-close > svg {
    width: 100%;
  }
  .menu-close > svg > path {
    stroke: var(--fuchsiapink);
    stroke-width: 8;
  }
  .menu {
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    display: block;
    padding: 52px 20px 44px;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.25s ease-in;
  }
  .menu.open {
    transform: translate3d(0, 0, 0);
    transition: transform 0.35s ease-out;
  }

  .menu-item {
    display: block;
    margin: 48px 0;
    width: auto;
    font-size: 25px;
  }

  .menu-item a {
    line-height: 1;
  }

  .menu.white .menu-item a {
    color: var(--turquoiseblue);
  }
}
/* X. Menu */

/* Global Style for Buttons */
@media (max-width: 767.98px) {
  .button-wrapper {
    text-align: center;
  }
  .button {
    font-size: 26px;
    height: 42px;
    margin-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 178px;
  }
  .windows .button {
    padding-bottom: 2px; /* font-fix */
  }
  .macos .button {
    padding-top: 5px; /* font-fix */
  }
}
/* X. Global Style for Buttons */

/* Home Screen */
.scene-content-title {
  display: none;
}

@media (max-width: 767.98px) {
  .arrow {
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px; /* 28.99 */
    height: 40px; /* 45.98 */
    margin-top: -20px;
  }

  .arrow-left {
    left: 20px;
  }

  .arrow-right {
    right: 20px;
  }

  .scene.go-up {
    animation: scene-go-up-device 0.5s ease-in-out;
  }

  .scene.go-down {
    animation: scene-go-down-device 0.5s ease-out;
  }

  .scene.hidden {
    opacity: 0;
  }

  .section-1 > .canvas-container::before {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.34) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    height: 136px;
    content: "";
    position: absolute;
    left: -18px;
    bottom: -32px;
    right: -18px;
  }
  .scene-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 36px);
    max-width: none;
    left: 18px;
    top: auto;
    bottom: 32px;
  }
  .scene-content > * {
    position: relative;
  }
  .scene-content > img {
    display: none !important;
  }
  .scene > .scene-content > a {
    flex: 0 1 100%;
    font-size: 23px;
    height: 52px;
    margin-left: 0;
    margin-top: 0;
    padding-left: 34px;
    padding-right: 34px;
    min-width: 100px;
    max-width: 160px;
  }
  .macos .scene > .scene-content > a {
    padding-top: 4px; /* font-fix */
  }
  .scene-content-title {
    color: white;
    flex: 0 0 auto;
    display: block;
    font-family: "ST Kooperativ";
    font-size: 32px;
    line-height: 0.88;
    margin-right: 17px;
    text-align: right;
  }
  .windows .scene-content-title {
    margin-top: -4px; /* font-fix */
  }
  .macos .scene-content-title {
    margin-bottom: -5px; /* font-fix */
  }
}

@keyframes scene-go-up-device {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(-156px);
    opacity: 0;
  }
}

@keyframes scene-go-down-device {
  0% {
    transform: translateY(156px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* X. Home Screen */

/* Global Style for Columns Container */
@media (max-width: 1199.98px) {
  .text-blocks-container {
    padding-left: 64px;
    padding-right: 64px;
  }
  .text-blocks-container .text-block {
    width: calc((100% - 36px) / 2);
  }
}
@media (max-width: 1024px) {
  .text-blocks-container {
    padding-left: 48px;
    padding-right: 48px;
  }
  .text-blocks-container .text-block {
    width: calc((100% - 32px) / 2);
  }
}
@media (max-width: 767.98px) {
  .text-blocks-container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .text-blocks-container .text-block {
    width: 100%;
    max-width: 480px;
  }
  .text-blocks-container .text-block.right {
    margin-left: 0;
  }
  .text-blocks-container .text-block > video,
  .text-block-photo {
    margin-bottom: 27px;
    margin-top: 27px;
  }
  .text-block-text {
    font-size: 12px;
    line-height: 1.19;
    padding-right: 0;
  }
}
/* X. Global Style for Container */

/* About Screen */
@media (max-width: 1324.98px) {
  .section-2 .dont-blink {
    max-width: 34.8679245283019vw;
  }
  .section-2 .supress {
    max-width: 63.5471698113208vw;
  }
  .section-2 .riot {
    max-width: 51.9245283018868vw;
  }
  .section-2 .mint {
    max-width: 44.3018867924528vw;
  }
}
@media (max-width: 1024px) {
  .section-2 .back-arrow {
    display: block;
  }
  .section-2 .back-arrow > svg > polygon {
    fill: #5e3061;
  }
}
@media (max-width: 767.98px) {
  .section-2 .dont-blink {
    margin-bottom: 238px;
    margin-top: 92px;
    max-width: 480px;
  }
  .section-2 .text-1 {
    margin-bottom: 200px;
  }
  .section-2 .supress {
    margin-bottom: 12px;
    max-width: 480px;
  }
  .section-2 .riot {
    max-width: 480px;
  }
  .section-2 .text-2 {
    margin-bottom: 200px;
  }
  .section-2 .mint {
    max-width: 480px;
  }
  .section-2 .text-4 {
    margin-top: 520px;
    padding-bottom: 27px;
  }
  .section-2 .bottom-button {
    bottom: 27px;
  }
}
/* X. About Screen */

/* Team Screen */
@media (max-width: 1324.98px) {
  .section-3 .background-text {
    width: 50.9433962264151vw;
  }
  /* .section-3 .background-text.background-text-left {
    font-size: 18.4528301886792vw;
    margin-top: -27.1698113207547vw;
  }
  .section-3 .background-text.background-text-right {
    margin-right: -5.5849056603774vw;
    font-size: 49.4339622641509vw;
    margin-top: -5.5849056603774vw;
  }
  .section-3 .background-text.background-text-left.fade-in {
    animation: whoweare-left-fade-in-tablet 750ms ease-in-out;
    left: -64px;
  }

  .section-3 .background-text.background-text-right.fade-in {
    animation: whoweare-right-fade-in-tablet 750ms ease-in-out;
    right: -64px;
  } */
}
/* @keyframes whoweare-left-fade-in-tablet {
  0% {
    left: 0;
  }
  100% {
    left: -64px;
  }
}

@keyframes whoweare-right-fade-in-tablet {
  0% {
    right: 0;
  }
  100% {
    right: -64px;
  }
} */
@media (max-width: 1199.98px) {
  .section-3 .whoweare {
    max-width: calc(50% - 18px);
  }
}
@media (max-width: 1024px) {
  .section-3 .back-arrow {
    display: block;
  }
  .section-3 .whoweare {
    max-width: calc(50% - 16px);
  }
}
@media (max-width: 767.98px) {
  .section-3 .canvas-sticky-container {
    height: auto;
  }
  .section-3 .text-blocks-container {
    margin-bottom: 0;
    overflow: hidden;
  }
  .section-3 .gamedev {
    left: 32px;
    margin-bottom: 0;
    position: absolute;
    top: calc(100vw - 64px + 25px);
    width: calc(100vw - 64px) !important;
    max-width: none;
  }
  .section-3 .whoweare {
    margin-bottom: calc((100vw - 64px) * 0.49 + 25px);
    max-width: none;
  }
  /* .background-texts {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  .section-3 .background-text {
    animation: none !important;
    position: relative;
  }
  .section-3 .background-text.background-text-left {
    font-size: 21.6vw;
    left: auto;
    margin-left: 0;
    margin-top: 0;
  }
  .section-3 .background-text.background-text-right {
    font-size: 57.8666666666667vw;
    right: auto;
    margin-right: -5.5vw;
    margin-top: 25.25vw;
  } */
  .section-3-text-2 {
    margin-bottom: 0;
    margin-top: 32px;
  }
}
/* X. Team Screen */

/* Footer */
@media (max-width: 1024px) {
  .section-4 {
    overflow: hidden;
  }
  .throne > img {
    transform: translate3d(calc((100vw - 1040px) / 2), 0, 0);
    width: 1040px;
  }
  .socials {
    flex-wrap: wrap;
    padding-top: 0;
  }

  .socials .social {
    font-size: 50px;
    margin: 15px 40px 60px;
    padding: 0;
  }

  .socials .social .social-logo {
    height: 16px;
    right: calc(100% + 4px);
    top: -16px;
  }
}
@media (max-width: 767.98px) {
  .section-4 {
    overflow: hidden;
  }
  .throne {
    margin-top: 124px;
  }
  .throne > img {
    transform: translate3d(calc((100vw - 780px) / 2), 0, 0);
    width: 780px;
  }
  .socials {
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
  }
  .socials .social {
    font-size: 40px;
    margin-bottom: 15px;
  }
}
/* X. Footer */
