:root {
  --antiflashwhite: #f0f0f0;
  --gunmetal: #263340;
  --turquoiseblue: #00fff6;
  --magicmint: #a3f7d7;
  --aeroblue: #c2fce6;
  --fuchsiapink: #ff7cf9;
  --lightfuchsiapink: #ff8bff;
  --brilliantlavender: #eac1f9;
  --richbrilliantlavender: #f3abff;
}

@font-face {
  font-family: "ST Kooperativ";
  src: url("../assets/fonts/ST-Kooperativ.otf");
}

@font-face {
  font-family: "Demon Letter";
  src: url("../assets/fonts/Demon_Letter.otf");
}

@font-face {
  font-family: "PPSupplyMono";
  src: url("../assets/fonts/PPSupplyMono-Regular.otf");
}

body {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: var(--antiflashwhite);
  overflow: hidden;
  overscroll-behavior-x: none;
}

.scroll-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.canvas-container {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.loading {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100lvh;
  background-color: black;
  opacity: 1;
  z-index: 4;
}

.hidden {
  opacity: 0;
  transition: opacity 500ms ease;
  pointer-events: none;
}

.loading-progress {
  aspect-ratio: 151 / 153.7;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 160px;
}

.loading-progress > svg {
  animation: rotateBackwards 5s linear infinite;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
}

@keyframes rotateBackwards {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.loading-text {
  color: var(--fuchsiapink);
  font-size: 34px;
  font-family: "ST Kooperativ", sans-serif;
  margin-top: 5px;
  position: relative;
}

.loading-label {
  color: var(--fuchsiapink);
  font-size: 43px;
  font-family: "ST Kooperativ", sans-serif;
  position: absolute;
  top: 204px;
}

.logo {
  display: block;
  position: fixed;
  width: 40vh;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width, top 1000ms ease;
}

.logo.centered {
  width: 50vh;
  top: 50%;
}

.menu {
  position: fixed;
  display: table;
  width: 60%;
  top: 4vh;
  left: 50%;
  opacity: 1;
  z-index: 3;
  transform: translateX(-50%);
}

.menu-item {
  display: table-cell;
  width: 20%;
  font-size: 13pt;
  font-family: "PPSupplyMono";
  text-align: center;
  cursor: pointer;
}

.menu-item a {
  color: var(--turquoiseblue);
  text-decoration: none;
  transition: color 100ms ease-out;
}

.menu-item a:hover {
  color: var(--brilliantlavender);
}

.menu.white .menu-item a {
  color: white;
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: -100vh;
}

.fake-scene {
  position: absolute;
}

.section-2 .fake-scene {
  /*pointer-events: none;*/
}

.scene-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 30%;
  max-width: 400px;
  left: 60%;
  top: 50%;
}

.scene h2 {
  margin: 0;
  color: white;
  font-size: 46pt;
  font-family: "ST Kooperativ", sans-serif;
}

/* Global Style for Buttons */
.button {
  background-color: var(--turquoiseblue);
  box-sizing: border-box;
  color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "ST Kooperativ", sans-serif;
  font-size: 37.5px;
  height: 60px;
  line-height: 0.88;
  margin-top: 40px;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 218px;
}
.button:hover {
  background-color: var(--aeroblue);
}
.windows .button {
  padding-bottom: 5px; /* font-fix */
}
.macos .button {
  padding-top: 7px; /* font-fix */
}

/* X. Global Style for Buttons */

/* Global Style for Columns Container */
.text-blocks-container {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  max-width: calc(500px + 40px + 500px);
}
.text-blocks-container .text-block {
  width: calc((100% - 40px) / 2);
}
.text-blocks-container .text-block.right {
  margin-left: auto;
}
.text-blocks-container .text-block.center {
  width: auto;
}
.text-blocks-container .text-block > video,
.text-block-photo {
  margin-bottom: 25px;
  margin-top: 25px;
  max-width: 100%;
}
.text-block-text {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.47;
}
.text-block-text > p {
  display: block;
  margin: 0;
}
/* X. Global Style for Container */

/* Section #1: Homepage */
.scene a {
  font-size: 34px;
  height: 52px;
  margin-left: auto;
  margin-top: 53px;
  min-width: 309px;
}
.macos .scene a {
  padding-top: 5px; /* font-fix */
}
/* X. Section #1: Homepage */

/* Section #2: About */
.section-2 {
  color: var(--fuchsiapink);
  font-family: "PPSupplyMono";
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.section-darken {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  margin-top: -100vh;
  position: sticky;
  right: 0;
  top: 0;
}

.section-2 .long-scroll-container {
  height: auto;
  min-height: 4400px;
}
.section-2 .text-blocks-container {
  margin-top: -100vh;
  padding-bottom: calc(100vh + 107px); /* CEH9 */
}

.section-2 .back-arrow {
  display: none;
}

.section-2 .dont-blink {
  display: block;
  margin-top: 130px;
  margin-bottom: 235px;
  max-width: 462px;
}

.section-2 .text-1 {
  margin-bottom: 265px;
}

.section-2 .supress {
  display: block;
  margin-bottom: 16px;
  max-width: 842px;
}

.section-2 .riot {
  display: block;
  margin-left: auto;
  max-width: 688px;
}

.section-2 .text-2 {
  margin-bottom: 295px;
}

.section-2 .mint {
  display: block;
  max-width: 587px;
}

.section-2 .text-4 {
  margin-top: 955px;
  padding-bottom: 130px;
}
.section-2 .text-4 .button-wrapper {
  text-align: center;
}
.section-2 .text-4 .button-wrapper > button {
  margin-top: 0;
}
.section-2 .bottom-button {
  bottom: 62px;
  display: block;
  left: 0;
  text-align: center;
  position: absolute;
  width: 100%;
}
/* X. Section #2: About */

/* Section #3: Team */
.section-3 {
  background: var(--lightfuchsiapink);
  font-family: "PPSupplyMono";
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section-3 .back-arrow {
  display: none;
}

.section-3 .canvas-sticky-container {
  height: 100vh;
}

.section-3 .canvas-container {
  position: sticky;
}

.section-3 .long-scroll-container {
  height: auto;
}

/* .section-3 .background-text {
  font-family: "Demon Letter";
  width: 675px;
  color: var(--richbrilliantlavender);
  display: block;
  position: absolute;
  top: 50%;
  user-select: none;
  animation-delay: 450ms;
  animation-fill-mode: forwards; 
}

.section-3 .background-text.background-text-left {
  left: 0;
  font-size: 244.5px;
  line-height: normal;
  margin-top: -360px;
  transition: left 750ms ease-in-out;
}

.section-3 .background-text.background-text-right {
  text-align: right;
  margin-right: -75px;
  right: 0;
  font-size: 655px;
  line-height: normal;
  margin-top: -74px;
  transition: right 750ms ease-in-out;
}

.section-3 .background-text.background-text-left.fade-in {
  animation: whoweare-left-fade-in 750ms ease-in-out;
  left: -100px;
}

.section-3 .background-text.background-text-right.fade-in {
  animation: whoweare-right-fade-in 750ms ease-in-out;
  right: -100px;
}

@keyframes whoweare-left-fade-in {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
  }
}

@keyframes whoweare-right-fade-in {
  0% {
    right: 0;
  }
  100% {
    right: -100px;
  }
}

@keyframes move-up {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -500px, 0);
  }
} */

.section-3 .gamedev {
  display: block;
  margin-bottom: 117px;
  width: 100%;
  position: relative;
}

.section-3 .background-texts-sticky {
  margin-bottom: 27px;
  position: relative;
}

.section-3 .background-texts {
  height: 100%;
  position: sticky;
  top: 130px;
}
.section-3 .whoweare {
  max-width: calc(50% - 20px);
}

/* .section-3 .gamedev.move-up {
  animation: move-up 750ms ease-in-out;
  transform: translate3d(0, -500px, 0);
} */

.section-3-video {
  position: relative;
}

.section-3-video > video {
  margin-bottom: 0 !important;
}

.section-3-text-1 {
  position: relative;
}
.section-3-text-2 {
  margin-top: 38px;
  position: relative;
}
/* X. Section #3: Team */

.section-4 {
  position: relative;
}

.throne {
  display: block;
  margin-top: 121px;
}

.throne > img {
  display: block;
  margin: 0 auto;
  width: 1040px;
}

.socials {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.socials .social {
  color: white;
  display: block;
  font-family: "Demon Letter";
  font-size: 60.5px;
  margin: 0 40px 135px;
  padding: 0 32px;
  position: relative;
  text-decoration: none;
  transition: color 0.25s ease;
}

.socials .social:hover {
  color: var(--turquoiseblue);
}

.socials .social-logo {
  display: block;
  height: 24px;
  position: absolute;
  right: calc(100% - 28px);
  top: -24px;
  width: auto;
}
.socials .follow {
  padding-left: 64px;
}
.socials .follow .social-logo {
  right: calc(100% - 60px);
}

.socials .social-logo > path {
  fill: white;
  transition: fill 0.25s ease;
}

.socials .social:hover .social-logo > path {
  fill: var(--turquoiseblue);
}

.section-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: transparent;
  pointer-events: none;
  transition: all 750ms ease-out;
  transition-property: opacity, background-color;
  will-change: opacity;
}

.arrow {
  position: absolute;
  width: 34px;
  height: 54px;
  top: 50%;
  background: url("../assets/img/arrow.svg");
  cursor: pointer;
  z-index: 1;
  transition: opacity 500ms ease;
}

.arrow-left {
  left: 3%;
  transform: rotate(180deg);
}

.arrow-right {
  right: 3%;
}

.scene.go-up {
  animation: scene-go-up 500ms ease-in-out;
}

.scene.go-down {
  animation: scene-go-down 500ms ease-in-out;
}

@keyframes scene-go-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-400px);
    opacity: 0;
  }
}

@keyframes scene-go-down {
  0% {
    transform: translateY(400px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.centered {
  text-align: center;
}
